[submodule "path"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "path"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "path"]
	path = nvim
	url = https://github.com/NvChad/NvChad
[submodule "github-actions"]
	path = ./github-actions
	url = https://github.com/offensive-vk/AwesomeScripts/tree/master/gh-actions