# ==================================
*.md linguist-language=Markdown
*.md linguist-detectable=false
*.yml linguist-detectable=true
*.yml linguist-documentation=false
* eol=lf text=auto
# ==================================