# ==================================
*.md linguist-language=Markdown
*.md linguist-detectable=true
*.yml linguist-detectable=true
*.yml linguist-documentation=false
# ==================================
